[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
.obj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

# Keep these!
!/[Aa]ssets/**/*.meta
!/[Pp]rojectSettings/**/*.asset

